/* LoanCalculator.css */

.loan-calculator-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    flex: 0 0 45%;
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    /* Increased height */
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    /* Decreased track height */
    background: #ddd;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    border: 2px solid #fff;
    margin-top: -6px;
    /* Center thumb vertically */
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    /* Decreased track height */
    background: #ddd;
    border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    border: 2px solid #fff;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 8px;
    /* Decreased track height */
    background: #ddd;
    border-radius: 5px;
}

input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    border: 2px solid #fff;
}

span {
    display: inline-block;
    margin-left: 10px;
}
canvas{
     max-width: 600px;
}